@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;300;400&display=swap');

:root {
  --light-green-background: #b9e2af;
  --dark-green-background: #bbed2f;
}

body {
  font-family: 'Raleway';
  max-height: 100vh;
  background-color: black;
  font-weight: 100 !important;
}

#particles-js {
  z-index: 3;
  height: 100vh;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.page-1,
.page-2,
.page-3,
.page-4 {
  min-height: 100vh;
  font-family: 'Raleway', sans-serif;
  color: white;
}

.page-1 h1,
.page-3>h1,
.page-4>h1 {
  font-size: 64px;
  font-weight: 100;
}

.page-1 h2 {
  font-weight: 100;
}

button {
  font-weight: 100;
  position: absolute;
  bottom: 50px;
  display: inline-block;
  cursor: pointer;
  outline: none;
  border: 0;
  vertical-align: middle;
  text-decoration: none;
  background: transparent;
  padding: 0 30px 0 50px;
  height: auto;
}

button.learn-more .circle {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  position: absolute;
  margin: 0;
  left: 0;
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 1.625rem;
  border-color: inherit;
  top: 50%;
  transform: translate3d(0, -50%, 0);
  background: var(--dark-green-background);
}

button.learn-more .circle .icon {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  background: #282936;
}

button.learn-more .circle .icon.arrow {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  left: 0.375rem;
  width: 1.125rem;
  height: 0.125rem;
  background: none;
  border-color: inherit;
}

button.learn-more .circle .icon.arrow::before {
  position: absolute;
  content: "";
  top: -0.25rem;
  right: 0.0625rem;
  width: 0.625rem;
  height: 0.625rem;
  border-top: 0.125rem solid #282936;
  border-right: 0.125rem solid #282936;
  transform: rotate(45deg);
}

button.learn-more .button-text {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  position: relative;
  line-height: 1;
  text-align: center;
  color: var(--dark-green-background);
  font-weight: 700;
  line-height: 1.6;
  text-align: center;
  text-transform: uppercase;
}

button:hover .circle {
  width: 100%;
}

button:hover .circle .icon.arrow {
  background: #282936;
  transform: translate(1rem, 0);
}

button:hover .button-text {
  color: #282936;
}


/*! Page 2 - Experience */

.page-2>h1 {
  font-size: 64px;
  font-weight: 100;
}

.page-2>h2,
h5 {
  font-weight: 100;
}

/*Timeline*/
.timeline {
  position: relative;
  margin: 50px auto;
  padding: 40px 0;
  width: 100%;
}

.timeline::before {
  content: '';
  position: absolute;
  left: 50%;
  width: 2px;
  height: 100%;
  background-color: #e4e4e4;
}

.timeline ul li:hover .time {
  transform: scale(1.1);
}

/*Elementos de lista*/
.timeline ul li {
  list-style: none;
  position: relative;
  width: 50%;
  padding: 20px 40px;
}

.timeline ul li:nth-child(odd) {
  float: left;
  text-align: right;
  clear: both;
}

.timeline ul li:nth-child(even) {
  float: right;
  text-align: left;
  clear: both;
}

/*Circulo indicador*/
.timeline ul li::before {
  content: '';
  position: absolute;
  top: 30px;
  width: 10px;
  height: 10px;
  background-color: var(--light-green-background);
  border-radius: 50%;
  box-shadow: 0 0 0 3px var(--dark-green-background);
}

.timeline ul li:nth-child(odd)::before {
  right: 10px;
}

.timeline ul li:nth-child(even)::before {
  left: -20px;
}

.timeline ul li:hover::before {
  transform: scale(1.5);
}

/*Fecha*/
.time {
  display: inline-block;
  /* font-weight: 400; */
  font-size: 14px;
  padding: 5px 10px;
  /* margin-bottom: 15px; */
  color: var(--dark-green-background);
  border-radius: 20px;
  border: none;
}

h3 {
  font-weight: 400;
}

/*Contenido*/
.content {
  padding-bottom: 20px;
}

.timeline ul li h2 {
  font-weight: 500;
  color: var(--dark-green-background);
}

.timeline ul li p {
  margin: 10px 0;
  font-weight: 300;
}

/*! Certifications Page */
.list-ic a {
  color: white;
  margin-left: 20px;
  text-decoration: none;
}

.list-ic li {
  position: relative;
}

.list-ic li span {
  display: inline-block;
  font-weight: 800;
  width: 2em;
  height: 2em;
  text-align: center;
  line-height: 2em;
  border-radius: 1em;
  background: var(--dark-green-background);
  color: black;
  position: relative;
}

.list-ic li::before {
  content: '';
  position: absolute;
  background: var(--dark-green-background);
  z-index: -1;
}

.list-ic.horizontal li {
  display: inline-block;
}

.list-ic.horizontal li span {
  margin: 0 1em;
}

.list-ic.horizontal li::before {
  top: 0.9em;
  left: -25px;
  width: 4em;
  height: 0.2em;
}

.list-ic.vertical {
  padding: 0;
  margin: 0;
}

.list-ic.vertical li {
  list-style-type: none;
  text-align: left;
}

.list-ic.vertical li span {
  margin: 2.5em 0;
}

.list-ic.vertical li::before {
  top: -35px;
  left: 13px;
  width: 0.2em;
  height: 4em;
}

.list-ic li:first-child::before {
  display: none;
}

.list-ic .active {
  background: dodgerblue;
}

.list-ic .active~li {
  background: lightblue;
}

.list-ic .active~li::before {
  background: lightblue;
}

.contact-me>h2 {
  color: var(--dark-green-background);
}

.contact-me>a {
  font-size: 20px;
}

.contact-me>span {
  color: var(--dark-green-background);
  font-size: 30px;
  font-weight: 400;
}

.linkedin-image {
  margin-top: -5px;
  width: 20px
}

.about-me-container {
  margin-top: 25vh;
}

.about-me-container>h3 {
  font-weight: 300;
}

.about-me-container>h4 {
  font-weight: 100;
}
